# Criado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,java
# Edite em https://www.toptal.com/developers/gitignore?templates=visualstudiocode,java

###Java###
#Arquivo de classe compilado
*.classe

# Arquivo de log
*.registro

# arquivos BlueJ
*.ctxt

# Ferramentas móveis para Java (J2ME)
.mtj.tmp/

# Arquivos de pacote #
*.jar
*.guerra
*.nar
*.orelha
*.fecho eclair
*.tar.gz
*.rar

# logs de falhas da máquina virtual, consulte http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Histórico local para código do Visual Studio
.história/

# Extensões de código do Visual Studio construídas
*.vsix

### Patch VisualStudioCode ###
# Ignora todo o histórico local de arquivos
.história
.ionida

# Suporte para escopo do snippet de projeto
.vscode/*.code-snippets

# Ignora code-workspaces
*.code-workspace

# Fim de https://www.toptal.com/developers/gitignore/api/visualstudiocode,java